In [108]:
import pandas as pd

import numpy as np

import scipy.stats as s

import matplotlib.pyplot as plt 

import seaborn as sns

In [109]:
data = pd.read_csv("data.csv")

In [110]:
data.head()

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,...,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,NaN
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,...,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902,NaN
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,...,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758,NaN
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,...,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300,NaN
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,...,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678,NaN

In [111]:
data.columns

Index(['id', 'diagnosis', 'radius_mean', 'texture_mean', 'perimeter_mean',
       'area_mean', 'smoothness_mean', 'compactness_mean', 'concavity_mean',
       'concave points_mean', 'symmetry_mean', 'fractal_dimension_mean',
       'radius_se', 'texture_se', 'perimeter_se', 'area_se', 'smoothness_se',
       'compactness_se', 'concavity_se', 'concave points_se', 'symmetry_se',
       'fractal_dimension_se', 'radius_worst', 'texture_worst',
       'perimeter_worst', 'area_worst', 'smoothness_worst',
       'compactness_worst', 'concavity_worst', 'concave points_worst',
       'symmetry_worst', 'fractal_dimension_worst', 'Unnamed: 32'],
      dtype='object')

In [112]:
data.drop([data.columns[0],data.columns[32]],axis=1,inplace=True)

In [113]:
data.head()

,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,symmetry_mean,...,radius_worst,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst
0,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,0.2419,...,25.38,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890
1,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,0.1812,...,24.99,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902
2,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,0.2069,...,23.57,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758
3,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,0.2597,...,14.91,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300
4,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,0.1809,...,22.54,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678

In [114]:
data = data.iloc[:,0:3]

In [115]:
data.head()

  diagnosis  radius_mean  texture_mean
0         M        17.99         10.38
1         M        20.57         17.77
2         M        19.69         21.25
3         M        11.42         20.38
4         M        20.29         14.34

In [116]:
data.shape

(569, 3)

In [117]:
data[data['diagnosis'] == 'B'].shape

(357, 3)

In [118]:
data[data['diagnosis'] == 'M'].shape

(212, 3)

In [119]:
training_data_len = int(0.7*data.shape[0])

In [120]:
training_data_len

398

In [121]:
benign_training_data = data[data['diagnosis'] == 'B'].iloc[0:training_data_len//2]

malignant_training_data = data[data['diagnosis'] == 'M'].iloc[0:training_data_len//2]

In [122]:
benign_training_data.shape

(199, 3)

In [123]:
malignant_training_data.shape

(199, 3)

In [124]:
training_data = pd.concat([benign_training_data,malignant_training_data])

In [125]:
training_data.shape

(398, 3)

In [126]:
training_data

    diagnosis  radius_mean  texture_mean
19          B       13.540         14.36
20          B       13.080         15.71
21          B        9.504         12.44
37          B       13.030         18.42
46          B        8.196         16.84
48          B       12.050         14.63
49          B       13.490         22.30
50          B       11.760         21.60
51          B       13.640         16.34
52          B       11.940         18.24
55          B       11.520         18.75
58          B       13.050         19.31
59          B        8.618         11.79
60          B       10.170         14.88
61          B        8.598         20.98
63          B        9.173         13.86
66          B        9.465         21.01
67          B       11.310         19.04
68          B        9.029         17.33
69          B       12.780         16.49
71          B        8.888         14.64
74          B       12.310         16.52
76          B       13.530         10.94
79          B       12.860         18.00
80          B       11.450         20.97
81          B       13.340         15.86
84          B       12.000         15.65
88          B       12.360         21.80
89          B       14.640         15.24
90          B       14.620         24.02
..        ...          ...           ...
385         M       14.600         23.29
389         M       19.550         23.21
392         M       15.490         19.97
393         M       21.610         22.28
400         M       17.910         21.02
408         M       17.990         20.66
414         M       15.130         29.81
417         M       15.500         21.08
430         M       14.900         22.53
432         M       20.180         19.54
433         M       18.820         21.97
435         M       13.980         19.62
441         M       17.270         25.42
444         M       18.030         16.85
446         M       17.750         28.03
449         M       21.100         20.52
451         M       19.590         25.00
460         M       17.080         27.15
461         M       27.420         26.27
468         M       17.600         23.33
479         M       16.250         19.51
487         M       19.440         18.82
489         M       16.690         20.20
492         M       18.010         20.56
498         M       18.490         17.52
499         M       20.590         21.24
501         M       13.820         24.49
503         M       23.090         19.83
509         M       15.460         23.95
512         M       13.400         20.52

[398 rows x 3 columns]

In [127]:
cv_data_len = int(0.2 * data.shape[0])

In [128]:
cv_data_len

113

In [129]:
benign_remaining_data = data[data['diagnosis'] == 'B'].iloc[training_data_len//2:]

malignant_remaining_data = data[data['diagnosis'] == 'M'].iloc[training_data_len//2:]

In [130]:
benign_remaining_data.shape

(158, 3)

In [131]:
malignant_remaining_data.shape

(13, 3)

In [132]:
remaining_data = pd.concat([benign_remaining_data,malignant_remaining_data])

In [133]:
remaining_data.shape

(171, 3)

In [134]:
cv_data = remaining_data.iloc[0:cv_data_len]

testing_data = remaining_data.iloc[cv_data_len:]

In [135]:
cv_data.shape

(113, 3)

In [136]:
testing_data.shape

(58, 3)

In [137]:
training_data

    diagnosis  radius_mean  texture_mean
19          B       13.540         14.36
20          B       13.080         15.71
21          B        9.504         12.44
37          B       13.030         18.42
46          B        8.196         16.84
48          B       12.050         14.63
49          B       13.490         22.30
50          B       11.760         21.60
51          B       13.640         16.34
52          B       11.940         18.24
55          B       11.520         18.75
58          B       13.050         19.31
59          B        8.618         11.79
60          B       10.170         14.88
61          B        8.598         20.98
63          B        9.173         13.86
66          B        9.465         21.01
67          B       11.310         19.04
68          B        9.029         17.33
69          B       12.780         16.49
71          B        8.888         14.64
74          B       12.310         16.52
76          B       13.530         10.94
79          B       12.860         18.00
80          B       11.450         20.97
81          B       13.340         15.86
84          B       12.000         15.65
88          B       12.360         21.80
89          B       14.640         15.24
90          B       14.620         24.02
..        ...          ...           ...
385         M       14.600         23.29
389         M       19.550         23.21
392         M       15.490         19.97
393         M       21.610         22.28
400         M       17.910         21.02
408         M       17.990         20.66
414         M       15.130         29.81
417         M       15.500         21.08
430         M       14.900         22.53
432         M       20.180         19.54
433         M       18.820         21.97
435         M       13.980         19.62
441         M       17.270         25.42
444         M       18.030         16.85
446         M       17.750         28.03
449         M       21.100         20.52
451         M       19.590         25.00
460         M       17.080         27.15
461         M       27.420         26.27
468         M       17.600         23.33
479         M       16.250         19.51
487         M       19.440         18.82
489         M       16.690         20.20
492         M       18.010         20.56
498         M       18.490         17.52
499         M       20.590         21.24
501         M       13.820         24.49
503         M       23.090         19.83
509         M       15.460         23.95
512         M       13.400         20.52

[398 rows x 3 columns]

So, now we need to evlaluate the following Probability: 

\begin{equation}
P(Diagnosis = M | radius mean = x) = P(radius mean = x | Diagnosis = M) P(texturemean = y| Diagnosis = M) P(Diagnosis = M)
\end{equation}

Now, in order to evaluate the likelihood probability P(radiusmean = x | Diagnosis = M) P(texturemean = y | Diagnosis = M) which is given by Multivariate Joint Gaussian Distribution PDF. Now, for this PDF, we need to find out the best estimate of the parameters of Multivariate Joint Normal Distribution because we are assuming that our Malignant tumor training data is being sampled from a Multivariate Joint Normal (Gaussian) Distribution. The two parameters will be namely: mu_hat_m and sigma_hat_m.

In [138]:
mu_hat_m = np.array(training_data[training_data['diagnosis'] == 'M'].iloc[:1:3].mean())

sigma_hat_m = np.array(training_data[training_data['diagnosis'] == 'M'].iloc[:,1:3].cov())

In [157]:
mu_hat_m

array([17.99, 10.38])

In [158]:
sigma_hat_m

array([[10.20058078,  1.23175034],
       [ 1.23175034, 13.93195295]])

In [139]:
malignant_prior = training_data[training_data['diagnosis'] == 'M'].shape[0]/training_data.shape[0]

So, now we need to evlaluate the following Probability: 

\begin{equation}
P(Diagnosis = B | radius mean = x) = P(radius mean = x | Diagnosis = B) P(texturemean = y| Diagnosis = B) P(Diagnosis = B)
\end{equation}

Now, in order to evaluate the likelihood probability P(radiusmean = x | Diagnosis = B) P(texturemean = y | Diagnosis = B) which is given by Multivariate Joint Gaussian Distribution PDF. Now, for this PDF, we need to find out the best estimate of the parameters of Multivariate Joint Normal Distribution because we are assuming that our Malignant tumor training data is being sampled from a Multivariate Joint Normal (Gaussian) Distribution. The two parameters will be namely: mu_hat_b and sigma_hat_b.

In [140]:
mu_hat_b = np.array(training_data[training_data['diagnosis'] == 'B'].iloc[:,1:3].mean())

sigma_hat_b = np.array(training_data[training_data['diagnosis'] == 'B'].iloc[:,1:3].cov())

In [159]:
mu_hat_b

array([11.98439698, 17.11090452])

In [160]:
sigma_hat_b

array([[ 2.94091972,  0.15193868],
       [ 0.15193868, 11.32885473]])

In [141]:
benign_prior = training_data[training_data['diagnosis'] == 'B'].shape[0]/training_data.shape[0]

In [142]:
def mock_test(data):
    
    inputs = np.array(data.iloc[:,1:3])
    
    posterior_m = s.multivariate_normal.pdf(inputs,mu_hat_m,sigma_hat_m) * malignant_prior
    
    posterior_b = s.multivariate_normal.pdf(inputs,mu_hat_b,sigma_hat_b) * benign_prior
    
    boolean_mask = posterior_m > posterior_b
    
    predicted_category = pd.Series(boolean_mask)
    
    predicted_category.replace(to_replace=[False,True],value=['B','M'],inplace=True)
    
    return np.array(predicted_category)

In [143]:
cv_results = mock_test(cv_data)

In [144]:
cv_results

array(['B', 'B', 'B', 'M', 'B', 'B', 'M', 'B', 'M', 'B', 'B', 'B', 'B',
       'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B',
       'B', 'B', 'B', 'B', 'B', 'B', 'B', 'M', 'B', 'B', 'B', 'B', 'B',
       'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B',
       'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B',
       'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B',
       'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B',
       'B', 'B', 'B', 'B', 'M', 'B', 'B', 'B', 'B', 'M', 'B', 'B', 'B',
       'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'M'], dtype=object)

In [145]:
actual_results = np.array(cv_data['diagnosis'])

In [146]:
actual_results

array(['B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B',
       'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B',
       'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B',
       'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B',
       'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B',
       'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B',
       'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B',
       'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B',
       'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B'], dtype=object)

In [147]:
boolean_mask = cv_results == actual_results

In [148]:
boolean_mask

array([ True,  True,  True, False,  True,  True, False,  True, False,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False])

In [149]:
cv_accuracy = np.count_nonzero(boolean_mask)/boolean_mask.shape[0]

In [150]:
cv_accuracy

0.9380530973451328

In [151]:
testing_results = mock_test(testing_data)

In [152]:
testing_results

array(['B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B',
       'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B',
       'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B',
       'B', 'B', 'B', 'B', 'B', 'B', 'B', 'M', 'M', 'M', 'M', 'M', 'B',
       'B', 'M', 'M', 'M', 'B', 'M'], dtype=object)

In [153]:
actual_results = np.array(testing_data['diagnosis'])

In [154]:
actual_results

array(['B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B',
       'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B',
       'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B',
       'B', 'B', 'B', 'B', 'B', 'B', 'M', 'M', 'M', 'M', 'M', 'M', 'M',
       'M', 'M', 'M', 'M', 'M', 'M'], dtype=object)

In [155]:
testing_accuracy = np.count_nonzero(testing_results == actual_results)/actual_results.shape[0]

In [156]:
testing_accuracy

0.9310344827586207